<?xml version="1.0" encoding="utf-8"?>
<!--  
Overchan Android (Meta Imageboard Client)
Copyright (C) 2014-2016  miku-nyan <https://github.com/miku-nyan>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
    package="nya.miku.wishmaster"
    android:installLocation="auto"
    tools:ignore="UnusedAttribute"
    android:versionCode="73"
    android:versionName="1.8.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="24" />

    <application
        android:name="nya.miku.wishmaster.common.MainApplication"
        android:allowBackup="true"
        android:supportsRtl="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name="nya.miku.wishmaster.ui.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustNothing"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <!-- domains -->
                <data android:host="iichan.hk" />
                <data android:host="www.iichan.hk" />
                <data android:host="hatsune.ru" />
                <data android:host="410chan.org" />
                <data android:host="www.410chan.org" />
                <data android:host="nowere.net" />
                <data android:host="www.nowere.net" />
                <data android:host="owlchan.ru" />
                <data android:host="www.owlchan.ru" />
                <data android:host="ii.yakuji.moe" />
                <data android:host="014chan.org" />
                <data android:host="www.014chan.org" />
                
                <data android:host="horochan.ru" />
                
                <data android:host="allchan.su" />
                <data android:host="www.allchan.su" />
                
                <data android:host="ponyach.ru" />
                
                <data android:host="420chan.org" />
                <data android:host="boards.420chan.org" />
                
                <data android:host="syn-ch.com" />
                <data android:host="syn-ch.org" />
                <data android:host="syn-ch.ru" />
                <data android:host="syn-ch.com.ua" />
                
                <data android:host="kurisa.ch" />
                <data android:host="www.kurisa.ch" />
                
                <data android:host="chuck.dfwk.ru" />
                
                <data android:host="4chan.org" />
                <data android:host="www.4chan.org" />
                <data android:host="boards.4chan.org" />
                
                <data android:host="4channel.org" />
                <data android:host="www.4channel.org" />
                <data android:host="boards.4channel.org" />

                <data android:host="8ch.net" />
                <data android:host="8kun.net" />
                <data android:host="8kun.top" />
                <data android:host="8kun.top.qulatc2tl34vwefcc2pbsxi7vennhbew57jbl2d3pbhvjhozkoizdoqd.onion" />
                <data android:host="www.8ch.net" />
                <data android:host="www.8kun.top.qulatc2tl34vwefcc2pbsxi7vennhbew57jbl2d3pbhvjhozkoizdoqd.onion" />
                
                <data android:host="kohlchan.net" />
                <data android:host="kohlkanal.net" />
                <data android:host="kohlchan.top" />
                <data android:host="kohlchanvwpfx6hthoti5fvqsjxgcwm3tmddvpduph5fqntv5affzfqd.onion" />
                <data android:host="www.kohlchan.net" />
                <data android:host="www.kohlkanal.net" />
                <data android:host="www.kohlchan.top" />
                <data android:host="www.kohlchanvwpfx6hthoti5fvqsjxgcwm3tmddvpduph5fqntv5affzfqd.onion" />
                
                <data android:host="ernstchan.xyz" />
                <data android:host="www.ernstchan.xyz" />
                
                <data android:host="7chan.org" />
                
                <data android:host="pl.vichan.net" />
                <data android:host="2ms63yt7ax2bvbkaren5xp7hsuu4httz554bk6wzwwh6zzfxtchqakqd.onion" />
                
                <data android:host="sushigirl.us" />
                <data android:host="www.sushigirl.us" />

                <data android:host="lainchan.org" />
                <data android:host="www.lainchan.org" />
                
                <data android:host="dva-ch.net" />
                <data android:host="www.dva-ch.net" />
                <data android:host="2ch.rip" />
                <data android:host="www.2ch.rip" />
                
                <data android:host="ochan.ru" />
                <data android:host="www.ochan.ru" />
                
                <data android:host="2.0-chan.ru" />
                
                <data android:host="02ch.su" />
                
                <data android:host="tohno-chan.com" />
                <data android:host="www.tohno-chan.com" />
                
                <data android:host="dobrochan.ru" />
                <data android:host="dobrochan.com" />
                <data android:host="dobrochan.org" />
                <data android:host="dobrochan.net" />
                <data android:host="www.dobrochan.ru" />
                <data android:host="www.dobrochan.com" />
                <data android:host="www.dobrochan.org" />
                <data android:host="www.dobrochan.net" />
                
                <data android:host="anon.fm" />
                
                <data android:host="2ch.hk" />
                <data android:host="www.2ch.hk" />
                <data android:host="2ch.life" />
                <data android:host="2-ch.ru" />
                
                <data android:host="arhivach.net" />
                <data android:host="www.arhivach.net" />
                <data android:host="arhivach.ng" />
                <data android:host="www.arhivach.ng" />
                <data android:host="arhivachqqqvwqcotafhk4ks2he56seuwcshpayrm5myeq45vlff44yd.onion" />
                <data android:host="www.arhivachqqqvwqcotafhk4ks2he56seuwcshpayrm5myeq45vlff44yd.onion" />
                
                <data android:host="tbpchan.net" />
                <data android:host="www.tbpchan.net" />

                <data android:host="wizchan.org" />
                <data android:host="www.wizchan.org" />

                <data android:host="lampach.net" />
                <data android:host="www.lampach.net" />

                <data android:host="hispachan.org" />
                <data android:host="www.hispachan.org" />

                <data android:host="diochan.com" />
                <data android:host="www.diochan.com" />

                <data android:host="endchan.net" />
                <data android:host="www.endchan.net" />
                <data android:host="endchan.org" />
                <data android:host="www.endchan.org" />
                <data android:host="endchan.gg" />
                <data android:host="www.endchan.gg" />
                <data android:host="endchan5doxvprs5.onion" />
                <data android:host="www.endchan5doxvprs5.onion" />
                <data android:host="s6424n4x4bsmqs27.onion" />
                <data android:host="www.s6424n4x4bsmqs27.onion" />
                <data android:host="enxx3byspwsdo446jujc52ucy2pf5urdbhqw3kbsfhlfjwmbpj5smdad.onion" />
                <data android:host="www.enxx3byspwsdo446jujc52ucy2pf5urdbhqw3kbsfhlfjwmbpj5smdad.onion" />

                <data android:host="2--ch.ru" />
                <data android:host="www.2--ch.ru" />
                <data android:host="2-ch.su" />
                <data android:host="www.2-ch.su" />

                <data android:host="kropyva.ch" />
                <data android:host="www.kropyva.ch" />

                <data android:host="kakashi-nenpo.com" />
                <data android:host="www.kakashi-nenpo.com" />

                <data android:host="uboachan.net" />
                <data android:host="www.uboachan.net" />

                <data android:host="smuglo.li" />
                <data android:host="www.smuglo.li" />
                <data android:host="smugloli.net" />
                <data android:host="www.smugloli.net" />
                <data android:host="bhm5koavobq353j54qichcvzr6uhtri6x4bjjy4xkybgvxkzuslzcqid.onion" />
                <data android:host="www.bhm5koavobq353j54qichcvzr6uhtri6x4bjjy4xkybgvxkzuslzcqid.onion" />

                <data android:host="chaos.fm" />

                <data android:host="foxhound.cc" />
                <data android:host="www.foxhound.cc" />
                <data android:host="6k5boa4nveidv7cdpjminvak6y4dklvhbpsiuhndnzuxbfyraxtlftad.onion" />
                <data android:host="www.6k5boa4nveidv7cdpjminvak6y4dklvhbpsiuhndnzuxbfyraxtlftad.onion" />

                <data android:host="0chan.life" />
                <data android:host="www.0chan.life" />
                <data android:host="nullchanxrt7ecw7sifwei466qli3sku725tusz22w22opkfcxksinyd.onion" />
                <data android:host="www.nullchanxrt7ecw7sifwei466qli3sku725tusz22w22opkfcxksinyd.onion" />
                <!-- end of domains -->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="text/html" />              
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="*" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.mhtml" />
                <data android:pathPattern=".*\\..*\\.mhtml" />
                <data android:pathPattern=".*\\..*\\..*\\.mhtml" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.mhtml" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mhtml" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="nya.miku.wishmaster.ui.posting.PostFormActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        
        <activity
            android:name="nya.miku.wishmaster.ui.gallery.GalleryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Transparent"
            android:process=":Gallery" />
        
        <activity
            android:name="nya.miku.wishmaster.ui.gallery.GalleryInteractiveExceptionHandler"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Transparent" />
        
        <activity
            android:name="nya.miku.wishmaster.ui.posting.PostingProgressActivity"
            android:theme="@style/Theme_Dialog_Switch"
            android:launchMode="singleTask" />
        
        <activity
            android:name="nya.miku.wishmaster.ui.downloading.DownloadingProgressActivity"
            android:theme="@style/Theme_Dialog_Switch"
            android:launchMode="singleTask" />
        
        <activity
            android:name="nya.miku.wishmaster.ui.downloading.DownloadingErrorReportActivity"
            android:theme="@style/Theme_Dialog_Switch"
            android:launchMode="singleTask" />
        
        <activity android:name="nya.miku.wishmaster.lib.FileDialogActivity" />
        <activity android:name="nya.miku.wishmaster.ui.settings.PreferencesActivity" />
        <activity android:name="nya.miku.wishmaster.ui.settings.AutohideActivity" />
        <activity android:name="nya.miku.wishmaster.ui.settings.ChansSortActivity" />
        <activity android:name="nya.miku.wishmaster.ui.settings.CertificatesActivity" />
        <activity android:name="nya.miku.wishmaster.ui.settings.CustomThemeListActivity" />
        
        <activity android:name="nya.miku.wishmaster.ui.ShareActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="org.acra.CrashReportDialog"
            android:theme="@style/Theme_Dialog_Switch"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true" />
        
        <service android:name="nya.miku.wishmaster.ui.posting.PostingService" />
        <service android:name="nya.miku.wishmaster.ui.downloading.DownloadingService" />
        <service android:name="nya.miku.wishmaster.ui.tabs.TabsTrackerService" />
        <service android:name="nya.miku.wishmaster.ui.gallery.GalleryBackend" />
        
    </application>

</manifest>
